<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pomodoro timer</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div>
            <h1>Pomodoro Timer</h1><button id="config">⚙️</button>
            <br>
        </div>
        <div>
            <div>
                <h1 id="minutes"></h1>
                <h1 id="seconds"></h1>
            </div>
            <div>
                <h1 id="minutesDes"></h1>
                <h1 id="secondsDes"></h1>
            </div>
            <br>
            <button id="start" onclick="ini()">start</button>
            <button id="stop" onclick="det()">stop</button>
            <button id="reset" onclick="res()">reset</button>

        </div>
        <br>
        <div>    
            <div id='Task'>
                <input id="inputana" placeholder="Agregar nueva tarea...">
                <button id="NewTask" onclick="addTask()">+ New Task</button>
            </div>
        </div>
        <script src="/script.js"></script>
    </body>
</html>