<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pomodoro timer</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="indice">
            <a id="Pomodoro" href="/">Pomodoro Timer</a>
            <a href="/week">Designe your week</a>
            <div>
                <button id="config" onclick="dropConfigFunc()">⚙️Setting</button>
                    <div id ="dropConfig" style="visibility: hidden;">
                        <ul>
                            <li class="con">
                            <form id="form">
                                <label for="minFocus">Focus Time</label>
                                <input id="minFocus" name="minFocus" type="number" step="1" max="60" min ='1' value="30">

                                <label for="minBreak">Break Time</label>
                                <input id="minBreak" name="minBreak" type="number" step="1" max="60" min="1" value="5">

                                <button type="submit">Save</button>
                            </form>
                            </li>
                            <li class="con">
                                <a href="/login">login</a>
                            </li>
                            <li class="con">
                                <a href="/logout">logaut</a>
                            </li>
                        </ul>
                    </div>
                    <br>
            </div>
        </div>
        <script src="/config.js"></script>
        <div>
            <h1 id="seconds"></h1>
            <p id="status"></p>
            <br>
            <button id="start" onclick="ini()">start</button>
            <button id="stop" onclick="det()">stop</button>
            <button id="reset" onclick="reset()">reset</button>

        </div>
        <script src="/Time.js"></script>
        <br>
        <div>    
            <input id="inputana" placeholder="Agregar nueva tarea...">
            <button id="NewTask" onclick="addTask()">+ New Task</button>
            <button onclick="obtenerTodo()">Obtener todo</button>
            <div id='Task'> </div>
        </div>
        <script src="/task.js"></script>
    </body>
</html>