<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Tasks</title>
    <link rel="stylesheet" href="styleWeek.css">
</head>
<body>

    <!-- Botón de regreso -->
    <a href="/" class="back-btn">← Back</a>

    <h1>Weekly Tasks</h1>

    <div class="week-container">
        <div class="day">
            <h2>Monday</h2>
            <div id='TaskMonday' class="task-container">
                <input id="inputanaMonday" placeholder="Agregar nueva tarea...">
                <button onclick="addTask('Monday')">+ New Task</button>
            </div>
        </div>

        <div class="day">
            <h2>Tuesday</h2>
            <div id="TaskTuesday" class="task-container">
                <input id="inputanaTuesday" placeholder="Agregar nueva tarea...">
                <button onclick="addTask('Tuesday')">+ New Task</button>
            </div>
        </div>

        <div class="day">
            <h2>Wednesday</h2>
            <div id="TaskWednesday" class="task-container">
                <input id="inputanaWednesday" placeholder="Agregar nueva tarea...">
                <button onclick="addTask('Wednesday')">+ New Task</button>
            </div>
        </div>

        <div class="day">
            <h2>Thursday</h2>
            <div id="TaskThursday" class="task-container">
                <input id="inputanaThursday" placeholder="Agregar nueva tarea...">
                <button onclick="addTask('Thursday')">+ New Task</button>
            </div>
        </div>

        <div class="day">
            <h2>Friday</h2>
            <div id="TaskFriday" class="task-container">
                <input id="inputanaFriday" placeholder="Agregar nueva tarea...">
                <button onclick="addTask('Friday')">+ New Task</button>
            </div>
        </div>

        <div class="day">
            <h2>Saturday</h2>
            <div id="TaskSaturday" class="task-container">
                <input id="inputanaSaturday" placeholder="Agregar nueva tarea...">
                <button onclick="addTask('Saturday')">+ New Task</button>
            </div>
        </div>

        <div class="day">
            <h2>Sunday</h2>
            <div id="TaskSunday" class="task-container">
                <input id="inputanaSunday" placeholder="Agregar nueva tarea...">
                <button onclick="addTask('Sunday')">+ New Task</button>
            </div>
        </div>
    </div>

    <script src="/ScriptWeek.js"></script>
</body>
</html>
